<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logoSevr</servlet-name>
    <servlet-class>logoSevr</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChengGong</servlet-name>
    <servlet-class>ChengGong</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShiBai</servlet-name>
    <servlet-class>ShiBai</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>dbc</servlet-name>
    <servlet-class>dbc</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>jdbc</servlet-name>
    <servlet-class>jdbc</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>logoSevr</servlet-name>
    <url-pattern>/logoSevr</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ChengGong</servlet-name>
    <url-pattern>/CG</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>ShiBai</servlet-name>
    <url-pattern>/SB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dbc</servlet-name>
    <url-pattern>/servlet/dbc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>jdbc</servlet-name>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>	
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
